@model NileRoute.UI.Models.Dto.RegionDto
@{
}

<h1 class="mt-3">Edit Region</h1>

@if(Model is not null)
{
    <form method="post">

        <div class="mt-3">
            <label for="code">ID</label>
            <input type="text" class="form-control" asp-for="Id" readonly />
        </div>

        <div class="mt-3">
            <label for="code">Code</label>
            <input type="text" class="form-control" asp-for="Code" required />
        </div>

        <div class="mt-3">
            <label for="code">Name</label>
            <input type="text" class="form-control" asp-for="Name" required />
        </div>

        <div class="mt-3">
            <label for="code">Image URL</label>
            <input type="text" class="form-control" asp-for="RegionImageUrl" required />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" asp-controller="Regions" asp-action="Delete" class="btn btn-danger">Delete</button>
        </div>
    </form>
}